/*
	Theme Name: wp_assignment_1;
	Theme URI: https://www.westland.com
	Author: Sonia Vemra
	Author URI: https://studio.soniaverma.ca
	Description: This website is related to pet food by Westland company. There are different 
				 blogs to promote the pet food. Both Cat and Dog food are provided by the westland
				 company their better health. 
	Version: 1.0
	License: GNU General Public License v2 or later
	License URI: http://www.gnu.org/licenses/gpl-2.0.html
	Text Domain: Westland Pet Food
 */
body{
	background-color: #f3f3f2;
	padding: 0;
	margin: 0;
	font-size: 16px;
	line-height: 140%; 
}

div, header, footer, nav{
	box-sizing: border-box;
}

/* HOME PAGE */

.container {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	padding: 0;
	box-shadow: 0px 7px 18px rgba(0, 0, 0, 0.80);
}

.main{
	padding: 0;
}
header img{
	width: 100%;
	height: auto;
	height: 150px;
}


footer.main {
	height: 100px;
	padding: 10px 0;
	text-align: center;
	line-height: 25px;
	font-size: 70%;
	background-color: #0a7189;
	color: #FFF;
	margin-bottom: 10px;
}

/* Contents Styling*/

#content {
	float: left;
	min-height: 200px;
	padding: 0;
	background-color: #FFF;
}

div#featured {
	display: relative;
	padding: 0;
	min-height: 200px;
	padding: 0;
	padding: 0;
}

div#featured img {
	width: 100%;
	height: auto;
}

div#primary {
	padding: 0;
	background-color: #FFF;
}

div#secondary {
	padding: 10px 0 0 0;
	background-color: #fff;
}

.caption{
	margin-top: 20px;
	margin-bottom:40px;
}

.caption p{
	font-size: 12px;
	padding: 0;
}


.caption button{
	background-color: #ff8f21;
	color: #fff;
	border: 2px solid #ff8f21;
	position: absolute;
	right: 0;
}

/* Utility Navigation*/

#util{
	text-align: right;
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	margin-top: 10px;
	height: 50px;
}

#util li{
	display: inline-block;
	list-style-type: none;
}
#util a{
	display: inline-block;
	text-decoration: none;
	color: #000;
	font-size: 80%;
	padding: 5px;
}
.pic1,.pic2{
position: fixed;
top: 40px;
}

.pic1{
	right: 500px;
}
.pic2{
	right: 450px;
}
#util a:hover{
	color: #ff8f21;
}

#util ul li img{
	box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.80);
}

ul.menu {
	padding: 0;
	margin: 0;
}

ul.menu li {
	list-style-type: none;
	display: inline-block;
}

a:hover, a:active {
	opacity: 1;
}

/* Main Navigation */

nav#main {
	width: 100%;
	color: #000;
	min-height: 50px;
	height: auto !important;
	background-color: #0a7189;
	padding-left: 0px;
}

nav#main a {
	display: inline-block;
	line-height: 50px;
	color: #fff;
	text-decoration: none;
	padding: 0 20px;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #cfcfcf;
	text-transform: uppercase;
}

nav#main a:hover,
nav#main a:active,
nav#main li.current_page a {
	color: #fff;
	background: #4ab1ca;
	border-left: 1px solid #fff;
	opacity: 1.0;
}

nav#main li {
	margin-right: -7px;
}


#primary img {
	width: 100%;
	height: auto;
	margin: 25px 0;
}

.wordmark{
	position: absolute;
    top: 37px;
	right: 15px;
}

/* FOOTER Navigation */

nav#footer ul {
	margin: 0 aut0;
}

nav#footer ul a {
	padding: 0 10px;
	color: #FFF;
}

nav#footer ul a:not(.type){
	border-left: 1px solid #fff;
}

nav#footer a:hover,
nav#footer a:active{
	color: #ff8f21;
	text-decoration: none;
	opacity: 1.0;
}

div#secondary{
	padding: 20px 50px 20px 30px;
}

div#secondary .sub{
	border-left: 2px solid #cfcfcf;
}

div#secondary img{
	padding-left: 0;
}

div#secondary h2{
	color: #0a7189;
	text-transform: uppercase;
}

.thumbnail{
	border:none;
	width: 133px;
	height: 150px;
	padding-top: 20px;
}

div#secondary h3{
	color: #ff8f21;
	margin-top: 0;
}

div#secondary h4{
	font-size: 1.4em;
}

div#content #main_sidebar h3{
	color: #0a7189;
}

div#secondary .callout_4{
	border: 2px solid #cfcfcf;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 20px;
	padding-left: 0;
}

nav#sidebar a{
	color: #000;
}

nav#sidebar a:hover{
	color: #ff8f21;
	opacity: 1.0;
	font-weight: bold;
}

div#secondary .callout_4 a{
	color: #0a7189;
	font-size: 80%;
	font-weight: bold;
}

div#secondary .callout_4 a.readmore{
	font-size: 120%;
}


div#secondary .callout_4 a:hover{
	color: #ff8f21;
	opacity: 1.0;
}

/*
Pages.php CSS
 */

article{
	padding: 50px;
}

article h1{
	color: #0a7189;
	padding-bottom: 20px;
}

